@font-face {
  font-family: 'Greenscr';
  src: url("Greenscr.ttf");
}

body {
  font-family: monospace;
}
header {
  background-color:rgb(40, 40, 40);
  font-size: 35px;
  color: rgb(102, 255, 102);
  font-family: "Greenscr";
  text-align: center;
  padding-top: 5px;
}

a {
  color: #FFB000;
  font-size: 20px;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

h2 {
  text-align: center;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border: 2px solid rgb(102, 255, 102);
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

th {
  color: #FFB000;
  font-weight: bold;
  font-size: 20px;
}

.code {
  font-family: "Greenscr";
  color: #FFB000;
}

td {
  border-top: 1px solid rgb(102, 255, 102);
}

h3 {
  text-align: center;
  font-family: "Greenscr";
}